<div class="container">
  <div class="panel-body">
    <h3>Key Metrics</h3>
    <div class="row" style="padding-top: 20px;">

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <small class="text-muted">*Normalized</small>
            <p><b>Revenue per Treatment:</b></p>
            <p>0: {{revenuePerTreatementNone}}</p>
            <p>1: {{revenuePerTreatementRandom}}</p>
            <p>5: {{revenuePerTreatementSalesRank}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <small class="text-muted">*Normalized</small>
            <p><b># Products per Treatment:</b></p>
            <p>0: {{productsPerTreatmentNone | number}}</p>
            <p>1: {{productsPerTreatmentRandom | number}}</p>
            <p>5: {{productsPerTreatmentSalesRank | number}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>