<div class="container">
  <div class="col-sm-8 col-sm-offset-2 survey-panel">
    <div class="panel-body">
      <h3>Key Metrics</h3>
      <div class="row" style="padding-top: 20px;">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <p><b>Revenue per Shop:</b></p>
              <p>Hedonic: {{revenuePerShopTypeHedonic}}</p>
              <p>Experienced: {{revenuePerShopTypeExperienced}}</p>
              <p>Utilitarian: {{revenuePerShopTypeUtilitarian}}</p>
              <p>Searched Goods: {{revenuePerShopTypeSearch}}</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <p><b>Revenue per Treatment:</b></p>
              <p>None: {{revenuePerTreatementNone}}</p>
              <p>Random: {{revenuePerTreatementRandom}}</p>
              <p>SalesRank: {{revenuePerTreatementSalesRank}}</p>
              <p>ColabFilter: {{revenuePerTreatementColabFilter}}</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <p><b># Products per Shop:</b></p>
              <p>Hedonic: {{productsPerShopHedonic}}</p>
              <p>Experienced: {{productsPerShopExperienced}}</p>
              <p>Utilitarian: {{productsPerShopUtilitarian}}</p>
              <p>Searched Goods: {{productsPerShopSearch}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>