<div class="col-sm-8 col-sm-offset-2 survey-panel">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Einleitung</h3>
      <p>
        In diesem Experiment werden Sie uns helfen, vier verschiedene Online-Shops zu testen, indem Sie dort ein
        wenig shoppen gehen. Wir werden Ihr Klickverhalten im Shop aufzeichnen, um die Qualität der Shops zu
        analysieren. Jeder der vier Online-Shops verkauft unterschiedliche Produktkategorien. Insgesamt sollte das
        Experiment etwa 50 Minuten dauern.
      </p>

      <p>
        In jedem Online-Shop sollten Sie in etwa 10 Minuten verbringen und folgende Dinge tun:
      </p>

      <ol>
        <li>Am Anfang müssen Sie jeweils 5 Produkte bewerten. Dies hilft uns, Ihre Präferenzen zu verstehen.</li>
        <li>Dann stellen Sie sich bitte vor, dass Sie über ein Budget von 100 EUR verfügen und ein gewisses Interesse an den Produkten im jeweiligen Online-Shop haben.</li>
        <li>Sie können sich die Produkte anschauen und sich auf der Detailseite zum Produkt noch einmal genauer informieren.</li>
        <li>Auf der Detailseite eines Produktes müssen Sie ein paar Fragen beantworten, die das Produkt betreffen, das Sie sich gerade im Detail anschauen. Sie können dann das Produkt wie in anderen Online-Shops in den Einkaufswagen legen oder wieder zur Hauptseite des Online-Shops zurückwechseln.</li>
        <li>Sie können alle Produkte, die Sie in den Einkaufswagen gelegt haben, später noch einmal genau betrachten und Sie gegebenenfalls auch wieder aus dem Einkaufswagen entfernen. Diese ist insbesondere notwendig, wenn Sie Ihr Budget von 100 EUR überschritten haben.</li>
        <li>Wenn Sie mit Ihrer Auswahl zufrieden sind, können Sie auschecken und mit dem nächsten Online-Shop fortfahren.</li>
        <li>Hinweis: Es ist wichtig, dass Sie wirklich nur Produkte am Ende behalten, die Sie auch gerne besitzen würden. Wir werden nämlich am Ende der Experimentreihe für jeden Online-Shop einen Gewinner auslosen, der eine zusätzliche Belohnung in Höhe von 100 EUR erhält. Diese Belohnung besteht aus den Produkten, die sie oder er gekauft hat plus der Differenz zum vereinbarten Budget von 100 EUR. Wenn Sie sich also z.B. entscheiden einen Rucksack der Firma X für 60 EUR zu kaufen, bekommen Sie genau dieses Produkt von uns geschenkt plus 40 EUR in bar als Differenz zum vereinbarten Einkaufsbudget. Sollten Sie sich entschieden haben, gar nichts zu kaufen, würden wir Ihnen 100 EUR in bar zukommen lassen.</li>
</ol>

<p>
    Nachdem Sie alle vier Online-Shops wie gerade beschrieben, besucht haben, müssen Sie noch einen Abschlussfragebogen beantworten.
</p>

<p>
    Gibt es Fragen?
</p>

<p>
    Viel Spaß beim Online-Shopping!
</p>
<div class="row">
</div>
      <button (click)="onNext()" type="submit" class="btn btn-primary pull-right">Weiter</button>
    </div>
  </div>
</div>