<div class="row shop-nav-header">
  <div class="col-md-10">
    <p>If you are done shopping in this shop, click on next!</p>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-next pull-right next" (click)="onNextClicked()">
      Next Shop
    </button>
  </div>
</div>
<div class="shop-info-banner">
  <h2>Utilitarian Goods Online Shop</h2>
</div>
<!-- Header Section Starts -->
<header class="header-area">
  <!-- Header Top Starts -->
  <div class="header-wrapper">
    <div id="main-header">
      <div id="cart-header" class="header-top text-uppercase">
        <!-- Nested Container Starts -->
        <div class="container">
          <!-- Nested Row Starts -->
          <div class="row">
            <!-- Header Links Ends -->
            <app-ut-cart></app-ut-cart>
          </div>
          <!-- Nested Row Ends -->
        </div>
        <!-- Nested Container Ends -->
      </div>
      <!-- Header Top Ends -->
      <!-- Main Header Starts -->
      <div id="search-bar" class="main-header">
        <!-- Nested Container Starts -->
        <div class="container">
          <!-- Nested Row Starts -->
          <div class="row">
            <!-- Logo Starts -->
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div id="logo">
                <a routerLink="/{{basePath}}">
                  <img src="assets/images/uni-shop.png" title="Electronics Shoppe" alt="Electronics Shoppe" class="img-responsive img-center">
                </a>
              </div>
            </div>
            <!-- Logo Ends -->
            <app-ut-search></app-ut-search>
          </div>
          <!-- Nested Row Ends -->
        </div>
        <!-- Nested Container Ends -->
      </div>
    </div>
    <!-- Main Header Ends -->
    <!-- Main Menu Starts -->
    <!-- Main Menu Ends -->
  </div>
</header>
<!-- Header Section Ends -->
<div class="content">
  <div class="wrapper">
    <nav id="main-menu" class="navbar" role="navigation">
      <!-- Nested Container Starts -->
      <div class="container">
        <!-- Nav Header Starts -->
        <div class="navbar-header">
          <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <!-- Nav Header Ends -->
        <!-- Navbar Cat collapse Starts -->
        <div class="collapse navbar-collapse navbar-cat-collapse">
          <ul class="nav navbar-nav">
            <li dropdown>
              <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Papier</a>
              <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Collegeblock'}">
                    Collegeblocks
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Liniert'}">
                    Heft (Liniert)
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Kariert'}">
                    Heft (Kariert)
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Drucker Papier'}">
                    Drucker Papier
                  </a>
                </li>
              </ul>
            </li>
            <li dropdown>
              <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Pen & Pencil</a>
              <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Kugelschreiber'}">
                    Kugelschreiber
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Fuellfederhalter'}">
                    Füllfederhalter
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Bleistifte'}">
                    Bleistifte
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Buntstifte'}">
                    Buntstifte
                  </a>
                </li>
              </ul>
            </li>
            <li dropdown>
              <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Taschenrechner</a>
              <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Casio'}">
                    Casio
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Texas Instruments'}">
                    Texas Instruments
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Helect'}">
                    Helect
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Genie'}">
                    Genie
                  </a>
                </li>
              </ul>
            </li>
            <li dropdown>
              <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Zubehör</a>
              <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Geo Dreieck'}">
                    Geo Dreieck
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Lineal'}">
                    Lineal
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, c: 'Schere'}">
                    Scheren
                  </a>
                </li>
              </ul>
            </li>
            <li dropdown>
              <a class="clickable" routerLink="/{{basePath}}/results" [queryParams]="{index: 1, size:10, q: 'Neu'}">Neu</a>
            </li>

          </ul>
        </div>
        <!-- Navbar Cat collapse Ends -->
      </div>
      <!-- Nested Container Starts -->
    </nav>
  </div>
  <!-- MAIN CONTENT -->
  <router-outlet></router-outlet>

</div>
<!-- Footer Section Starts -->
<footer id="footer-area">
  <!-- Footer Links Starts -->
  <div class="footer-links">
    <!-- Container Starts -->
    <div class="container">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Foot Col#1 Starts -->
        <div class="col-md-4 col-xs-12">
          <h5>Stay Connected</h5>
          <ul class="list-unstyled list-inline foot-sm-links">
            <li>
              <a routerLink="/{{basePath}}">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a routerLink="/{{basePath}}">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a routerLink="/{{basePath}}">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a routerLink="/{{basePath}}">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a routerLink="/{{basePath}}">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- Foot Col#1 Ends -->
        <!-- Contact Us Starts -->
        <div class="col-md-4 col-sm-4 col-xs-12 last">
          <h5>Contact Us</h5>
          <ul>
            <li>Universität zu Köln</li>
            <li>
              Albertus-Magnus-Platz
            </li>
            <li>
              50923 Köln
            </li>
            <li>
              Email:
              <a routerLink="/{{basePath}}">info@uni-koeln.de</a>
            </li>
          </ul>
        </div>
        <!-- Contact Us Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Container Ends -->
  </div>
  <!-- Footer Links Ends -->
  <!-- Copyright Area Starts -->
  <div class="copyright">
    <!-- Container Starts -->
    <div class="container">
      <!-- Starts -->
      <p class="pull-left">
        &copy; 2018 Online-Shop Uni Köln
      </p>
      <!-- Ends -->
    </div>
    <!-- Container Ends -->
  </div>
  <!-- Copyright Area Ends -->
</footer>