<div class="row" style="margin-bottom: 20px;">
  <div class="container col-md-6">
    <img src="assets/images/supplement-brand1.jpg" alt="Avatar" class="image" style="width:100%; border-radius: 5px;">
    <div class="middle">
      <div class="text">Mehr</div>
    </div>
  </div>

  <div class="container col-md-6">
    <img src="assets/images/supplement-brand2.jpg" alt="Avatar" height="184px" width="569px" class="image" style="width:100%; border-radius: 5px;">
    <div class="middle">
      <div class="text">Mehr</div>
    </div>
  </div>
</div>