<!-- Slider Starts -->
<div id="main-carousel" class="carousel slide center-block" data-ride="carousel">
    <!-- Wrapper For Slides Starts -->
    <div class="carousel-inner">

        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
            <div ngxSlickItem>
                <a routerLink="/{{basePath}}/detail/978">
                    <img src="assets/images/slider-imgs/uni1.jpg" alt="Slider" class="image img-responsive" />
                </a>
            </div>
            <div ngxSlickItem>
                <a routerLink="/{{basePath}}/detail/998">
                    <img src="assets/images/slider-imgs/uni3.jpg" alt="Slider" class="image img-responsive" />
                </a>
            </div>
            <div ngxSlickItem>
                <a routerLink="/{{basePath}}/detail/944">
                    <img src="assets/images/slider-imgs/uni2.jpg" alt="Slider" class="image img-responsive" />
                </a>
            </div>

        </ngx-slick>
        <!-- Wrapper For Slides Ends -->
        <!-- Controls Starts -->
        <!--
        <a class="left carousel-control" role="button" (click)="previous()">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="right carousel-control" role="button"(click)="next()">
            <i class="fa fa-chevron-right"></i>
        </a>
        -->
        <!-- Controls Ends -->
    </div>
    <!-- Slider Ends -->
</div>