<h2 class="product-head text-uppercase">Recommended for
    <strong>You</strong>
    <!--
    <div class="controls pull-right hidden-xs">
      <a class="left glyphicon glyphicon-chevron-left" (click)="previous()"></a>
      <a class="right glyphicon glyphicon-chevron-right" (click)="next()"></a>
    </div>
    -->
  </h2>
  <div *ngIf="loading" class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div *ngIf="!loading" class="row">
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let product of recommendedProducts" style="margin: 0 10px;">
        <div class="col-item">
          <div class="product-col alt" style="height: 325px;">
            <div class="image" style="height: 150px;">
              <img src="{{product.MediumImageUrl}}" alt="product-item" class="img-responsive center-block">
            </div>
            <div class="caption">
              <div class="price">
                <span class="price-new">{{product.LowestNewPriceFormatted}}</span>
                <span class="price-old">{{product.ListPriceFormatted}}</span>
              </div>
              <h4>
                <a routerLink="/utilitarian/detail/{{product.Id}}">{{product.Title}}</a>
              </h4>
              <div class="cart-button button-group">
                <app-ut-add-cart-button [product]="product" [class]="full"></app-ut-add-cart-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ngx-slick>
  </div>
  
  <!-- Products Row Ends -->