<div *ngIf="isLoading" class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div *ngIf="!isLoading">
  <form *ngIf="!surveyAlreadyTaken" [formGroup]="userSurvey" (ngSubmit)="onSubmitAddToCart()">
    <!-- Available Options Starts -->
    <div class="options">

      <div class="slidecontainer">
        <p>1. Wie attraktiv ist das Produkt? (1 = nicht attraktiv, 7 = sehr attraktiv)</p>
        <div>
          <label class="radio-inline">
            <input type="radio" formControlName="attractive" [value]=1 required>1</label>
          <label class="radio-inline">
            <input type="radio" formControlName="attractive" [value]=2 required>2</label>
          <label class="radio-inline">
            <input type="radio" formControlName="attractive" [value]=3 required>3</label>
          <label class="radio-inline">
            <input type="radio" formControlName="attractive" [value]=4 required>4</label>
          <label class="radio-inline">
            <input type="radio" formControlName="attractive" [value]=5 required>5</label>
          <label class="radio-inline">
            <input type="radio" formControlName="attractive" [value]=6 required>6</label>
          <label class="radio-inline">
            <input type="radio" formControlName="attractive" [value]=7 required>7</label>
        </div>
      </div>

      <div class="slidecontainer">
        <div class="form-group">
          <p>2. Wie gefällt dir das Produkt? (1 = gefällt mir gar nicht, 7 =  gefällt mir sehr)</p>
          <div>
            <label class="radio-inline">
              <input type="radio" formControlName="like" [value]=1 required>1</label>
            <label class="radio-inline">
              <input type="radio" formControlName="like" [value]=2 required>2</label>
            <label class="radio-inline">
              <input type="radio" formControlName="like" [value]=3 required>3</label>
            <label class="radio-inline">
              <input type="radio" formControlName="like" [value]=4 required>4</label>
            <label class="radio-inline">
              <input type="radio" formControlName="like" [value]=5 required>5</label>
            <label class="radio-inline">
              <input type="radio" formControlName="like" [value]=6 required>6</label>
            <label class="radio-inline">
              <input type="radio" formControlName="like" [value]=7 required>7</label>
          </div>
        </div>
      </div>


      <div class="slidecontainer">
        <p>3. Mit welcher Wahrscheinlichkeit würdest du das Produkt kaufen?</p>
        <p style="float: left;">0%</p>
        <input type="range" min="0" max="100" class="slider" id="likelihood" style="float: left;" formControlName="likelihood" required>
        <p style="float: left;">100%</p>
        <p style="float: left; font-weight: bold; margin-left: 45px;">{{userSurvey.value['likelihood']}}%</p>
      </div>

    </div>
    <button type="submit" class="btn btn-default btn-cart" [disabled]="!userSurvey.valid">
      <i class="fa fa-shopping-cart"></i> Abschicken und in den Einkaufswagen legen</button>
    <button type="button" class="btn btn-default btn-submit" [disabled]="!userSurvey.valid" (click)="onSubmitOnly()">
      Nur Abschicken </button>
  </form>
  <div *ngIf="surveyAlreadyTaken" class="survey-complete-msg">
    <h3><i class="fa fa-check"></i> Deine Präferenzen wurden erfolgreich gespeichert!</h3>
    <h3 *ngIf="productInCart"><i class="fa fa-check"></i> Produkt im Einkaufswagen!</h3>
    <h3 *ngIf="!productInCart">
      <i class="fa fa-check not-in-cart"></i>
      Produkt noch nicht im Einkaufswagen. Möchtest du es 
      <a class="clickable add-cart-link" (click)="onAddToCartOnly()">hinzufügen</a>?
    </h3>
    <div class="next-shop-msg">
      <p>Du kannst deinen Einkauf in diesem Shop fortsetzen oder auf weiter klicken um mit dem nächsten Shop weiter zu machen.</p>
      <button type="button" class="btn btn-default btn-submit" routerLink="/{{basePath}}">
        Einkauf in diesem Shop fortsetzen
      </button>
      <button type="button" class="btn btn-default btn-submit" (click)="onNextShopClicked()">
        Weiter zum nächsten Shop
      </button>
    </div>
  </div>
</div>