<h2 class="product-head text-uppercase">{{titleFirst}}
  <strong>{{titleBold}}</strong>
  <div class="controls pull-right hidden-xs">
    <a class="left glyphicon glyphicon-chevron-left" (click)="previous()"></a>
    <a class="right glyphicon glyphicon-chevron-right" (click)="next()"></a>
  </div>
</h2>
<div *ngIf="loading" class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div *ngIf="!loading" class="row">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let product of products" style="margin: 0 10px;">
      <div class="col-item">
        <div class="product-col alt" style="height: 300px;">
          <div class="image center-block" style="height: 150px;">
            <a routerLink="/credence/detail/{{product.Id}}"><img src="{{product.MediumImageUrl}}" alt="product-item"></a>
          </div>
          <div class="caption">
            <div class="starRating">
              <rating *ngIf="product.ShowReviews" [(ngModel)]="product.StarRating" class="center-block" [max]="5" [readonly]="true" [customTemplate]="t"
                style="color: #ffce31;font-size: 30px; margin-top: 15px; margin-bottom: 5px;"></rating>
            </div>
            <div class="price">
              <span class="price-new">{{product.LowestNewPriceFormatted}}</span>
              <span class="price-old">{{product.ListPriceFormatted}}</span>
            </div>
            <h4>
              <a routerLink="/utilitarian/detail/{{product.Id}}">{{product.Title}}</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick>
</div>

<!-- Products Row Ends -->