<div class="col-sm-3 col-xs-12 pull-right">
    <div id="cart" class="btn-group btn-block" dropdown>
      <button type="button" dropdownToggle data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle text-uppercase"  aria-controls="dropdown-basic">
        <i id="cart-icon" class="fa fa-shopping-cart"></i>
        <strong>Shopping Cart</strong>
        <span *ngIf="cart" id="cart-total">{{cart.CartItems.length}} Items</span>
        <i class="fa fa-angle-down"></i>
      </button>
      <ul id="dropdown-basic" *ngIf="cart" class="dropdown-menu pull-right">
        <li>
          <table class="table hcart">
            <tr *ngFor="let item of cart.CartItems">
              <td class="text-left">
                <a routerLink="/experienced/detail/{{item.Product.Id}}">{{item.Product.Title}}</a>
              </td>
              <td class="text-right">x {{item.Quantity}}</td>
              <td class="text-right">{{item.Product.LowestNewPriceFormatted}}</td>
              <td class="text-center">
                <a (click)="deleteFromCart(item)">
                  <i class="fa fa-times"></i>
                </a>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <table class="table table-bordered total">
            <tbody>
              <tr>
                <td class="text-right">
                  <strong>Total</strong>
                </td>
                <td *ngIf="totalAmount" class="text-left">{{totalAmount}}</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  
  
  </div>