<div id="main-container" class="container">
	<ol class="breadcrumb">
		<li>
			<a routerLink="/credence">Home</a>
		</li>
		<span>&#187;</span>
		<li class="active">Product Details</li>
	</ol>
	<!-- Progress spinner (Loading...)-->
	<div *ngIf="!product" class="spinner">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
	<!-- Product Info Starts -->
	<div *ngIf="product" class="row product-info full">
		<!-- Left Starts -->
		<div class="col-sm-4 images-block">
			<img src="{{previewImageUrl}}" alt="Image" class="img-responsive thumbnail large" />
			<ul class="list-unstyled list-inline">
				<li *ngFor="let image of product.images">
					<img src="{{image.SmallImageUrl}}" (click)="onImageClick($event, image)" alt="Image" class="img-responsive thumbnail" />
				</li>
			</ul>
		</div>
		<!-- Left Ends -->
		<!-- Right Starts -->
		<div class="col-sm-8 product-details">
			<div class="panel-smart">
				<!-- Product Name Starts -->
				<h2>{{product.Title}}</h2>
				<!-- Product Name Ends -->
				<hr />
				<!-- Manufacturer Starts -->
				<!--Star Rating -->
				<rating *ngIf="product.ShowReviews" [(ngModel)]="product.StarRating" class="center-block" [max]="5" [readonly]="true" [customTemplate]="t"
				 style="color: #ffce31;font-size: 30px; margin-bottom: 10px;"></rating>
				<ul class="list-unstyled manufacturer">
					<li>
						<span>Brand:</span> {{product.Brand}}
					</li>
					<li>
						<span>ASIN:</span> {{product.Asin}}</li>
					<li>
						<span>Availability:</span>
						<strong *ngIf="product.Availability" class="label label-success">Available</strong>
						<strong *ngIf="!product.Availability" class="label label-danger">Not in stock</strong>
					</li>
				</ul>
				<!-- Manufacturer Ends -->
				<hr />
				<!-- Price Starts -->
				<div class="price">
					<span class="price-head">Price :</span>
					<span class="price-new">{{product.LowestNewPriceFormatted}}</span>
					<span class="price-old">{{product.ListPriceFormatted}}</span>
				</div>
				<!-- Price Ends -->
				<hr />
				<!-- Available Options Starts -->
				<div class="options">
					<app-cred-product-survey [product]="product"></app-cred-product-survey>
				</div>
				<!-- Available Options Ends -->
			</div>
		</div>
		<!-- Right Ends -->
	</div>
	<!-- Product Info Ends -->
	<!-- Tabs Starts -->
	<div class="tabs-panel panel-smart">
		<!-- Nav Tabs Starts -->
		<ul *ngIf="product" class="nav nav-tabs">
			<li id="descriptionTab" class="active">
				<a (click)="showDescription()">Description</a>
			</li>
			<li id="reviewsTab" *ngIf="product.showReviews == 1">
				<a (click)="showReviews()">Reviews</a>
			</li>
		</ul>
		<!-- Nav Tabs Ends -->
		<!-- Tab Content Starts -->
		<div *ngIf="product" class="tab-content clearfix">
			<!-- Description Starts -->
			<div *ngIf="product.Description" class="tab-pane active" id="descriptionContent">
				<p [innerHTML]="product.Description">
				</p>
			</div>
			<!-- Description Ends -->
		</div>
		<!-- Tab Content Ends -->
	</div>
	<!-- Tabs Ends -->
	<!-- Related Products Starts -->
	<div *ngIf="product">
		<app-cred-recommended-products></app-cred-recommended-products>
	</div>
	<!-- Related Products Ends -->
</div>
<!-- Main Container Ends -->