.survey-panel {
    margin-top: 20px;
}

hr {
    border-color: #dddddd;
    margin: 35px 0;
}

p {
    font-size: 18px;
}

.panel-content {
    margin: 35px 0;
}

.image {
    height: 150px;
    width: 200px;
}

span{
    outline: none;
}