<div class="modal-header">
  <h4 class="modal-title pull-left">Achtung!</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseClicked()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Der Wert ihres Einkaufswagens überschreitet das Budget von 100 Euro. Das Produkt wurde nicht in den Einkaufswagen gelegt. Wenn Sie es dennoch hinzufügen möchten, entfernen Sie andere Produkte aus ihrem Einkaufswagen.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="onCloseClicked()">Schließen</button>
</div>