<app-ut-image-slider></app-ut-image-slider>
  <div>
    <h3 class="product-head text-uppercase">Top
      <strong>Products</strong>
      <div class="controls pull-right hidden-xs">
      </div>
    </h3>
    <div style="padding:0px 10px;">
      <app-ut-regular-products [category]="cat1"></app-ut-regular-products>
    </div>
    <div style="padding: 0px 10px;">
      <!--<app-hed-testimonials></app-hed-testimonials>-->
    </div>
    <h3 class="product-head text-uppercase">Recommended for
      <strong>You</strong>
      <div class="controls pull-right hidden-xs">
      </div>
    </h3>
    <div style="padding:0px 10px">
      <app-ut-regular-products [category]="cat1"></app-ut-regular-products>
    </div>
  </div>