<div class="modal-header">
  <h4 class="modal-title pull-left">Hilfe</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseClicked()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h3>Informationen zum Experiment</h3>
  <p>
    In jedem Online-Shop sollten Sie in etwa 10 Minuten verbringen und folgende Dinge tun:
  </p>

  <ol>
    <li>Am Anfang müssen Sie jeweils 5 Produkte bewerten. Dies hilft uns, Ihre Präferenzen zu verstehen.</li>
    <li>Dann stellen Sie sich bitte vor, dass Sie über ein Budget von 100 EUR verfügen und ein gewisses Interesse
      an den Produkten im jeweiligen Online-Shop haben.</li>
    <li>Sie können sich die Produkte anschauen und sich auf der Detailseite zum Produkt noch einmal genauer
      informieren.</li>
    <li>Auf der Detailseite eines Produktes müssen Sie ein paar Fragen beantworten, die das Produkt betreffen, das
      Sie sich gerade im Detail anschauen. Sie können dann das Produkt wie in anderen Online-Shops in den
      Einkaufswagen legen oder wieder zur Hauptseite des Online-Shops zurückwechseln.</li>
    <li>Sie können alle Produkte, die Sie in den Einkaufswagen gelegt haben, später noch einmal genau betrachten
      und Sie gegebenenfalls auch wieder aus dem Einkaufswagen entfernen. Diese ist insbesondere notwendig, wenn
      Sie Ihr Budget von 100 EUR überschritten haben.</li>
    <li>Wenn Sie mit Ihrer Auswahl zufrieden sind, können Sie auschecken und mit dem nächsten Online-Shop
      fortfahren.</li>
    <li>Hinweis: Es ist wichtig, dass Sie wirklich nur Produkte am Ende behalten, die Sie auch gerne besitzen
      würden. Wir werden nämlich am Ende der Experimentreihe für jeden Online-Shop einen Gewinner auslosen, der
      eine zusätzliche Belohnung in Höhe von 100 EUR erhält. Diese Belohnung besteht aus den Produkten, die sie
      oder er gekauft hat plus der Differenz zum vereinbarten Budget von 100 EUR. Wenn Sie sich also z.B.
      entscheiden einen Rucksack der Firma X für 60 EUR zu kaufen, bekommen Sie genau dieses Produkt von uns
      geschenkt plus 40 EUR in bar als Differenz zum vereinbarten Einkaufsbudget. Sollten Sie sich entschieden
      haben, gar nichts zu kaufen, würden wir Ihnen 100 EUR in bar zukommen lassen.</li>
  </ol>

  <h3>Wie lege ich ein Produkt in den Einkaufswagen?</h3>
  <img src="assets/images/video_add_cart.gif">
  <ol>
    <li>
      Navigiere zur Detail Seite eines Produktes.
    </li>
    <li>
      Beantworte die Fragen zum Produkt und klicke anschließend auf <b>Abschicken und in den Einkaufswagen legen</b>.
    </li>
  </ol>

  <h3>Wie entferne ich ein Produkt aus dem Einkaufswagen?</h3>
  <img src="assets/images/video_remove_cart.gif">
  <ol>
    <li>
      Klicke oben rechts auf deinen Einkaufswagen.
    </li>
    <li>
      Klicke auf <i class="fa fa-times"></i> um das Produkt aus dem Einkaufswagen zu entfernen.
    </li>
  </ol>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="onCloseClicked()">Schließen</button>
</div>