<div id="main-container" class="container">
  <!-- Product Info Starts -->
  <div *ngIf="product" class="row product-info full">
    <!-- Left Starts -->
    <div class="col-sm-4 images-block">
      <img src="{{previewImageUrl}}" alt="Image" class="img-responsive thumbnail large" />
      <ul class="list-unstyled list-inline">
        <li *ngFor="let image of product.images">
          <img src="{{image.SmallImageUrl}}" (click)="onImageClick($event, image)" alt="Image" class="img-responsive thumbnail" />
        </li>
      </ul>
    </div>
    <!-- Left Ends -->
    <!-- Right Starts -->
    <div class="col-sm-8 product-details">
      <div class="panel-smart">
        <!-- Product Name Starts -->
        <h2>{{product.Title}}</h2>
        <!-- Product Name Ends -->
        <hr />
        <!-- Manufacturer Starts -->
        <ul class="list-unstyled manufacturer">
          <li>
            <span>Brand:</span> {{product.Brand}}
          </li>
          <li>
            <span>ASIN:</span> {{product.Asin}}</li>
          <li>
            <span>Availability:</span>
            <strong *ngIf="product.Availability" class="label label-success">Available</strong>
            <strong *ngIf="!product.Availability" class="label label-danger">Not in stock</strong>
          </li>
        </ul>
        <!-- Manufacturer Ends -->
        <hr />
        <!-- Price Starts -->
        <div class="price">
          <span class="price-head">Price :</span>
          <span class="price-new">{{product.LowestNewPriceFormatted}}</span>
          <span class="price-old">{{product.ListPriceFormatted}}</span>
        </div>
        <!-- Price Ends -->
        <hr />
        <!-- Available Options Starts -->
        <div class="options">
          <div class="slidecontainer">
            <p>How likely would you buy this product?</p>
            <p style="float: left;">0%</p>
            <input #slider type="range" min="1" max="100" value="0" class="slider" id="myRange" style="float: left;" (change)="onSliderChange(slider.value)">
            <p style="float: left;">100%</p>
            <p class="likelihood">{{likelihood}}%</p>
          </div>
          <div class="slidecontainer">
            <p>How attractive is the product? (1 = not attractive, 7 = very attractive)</p>
            <div>
              <label class="radio-inline">
                <input type="radio" name="optradio">1</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">2</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">3</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">4</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">5</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">6</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">7</label>
            </div>
          </div>

          <div class="slidecontainer">
            <p>How do you like the product? (1 = not at all, 7 = very much)</p>
            <div>
              <label class="radio-inline">
                <input type="radio" name="optradio">1</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">2</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">3</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">4</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">5</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">6</label>
              <label class="radio-inline">
                <input type="radio" name="optradio">7</label>
            </div>
          </div>
          <app-ut-add-cart-button [product]="product" [class]="small-red-checkout-btn"></app-ut-add-cart-button>
        </div>
        <!-- Available Options Ends -->
      </div>
    </div>
    <!-- Right Ends -->
  </div>
  <!-- Product Info Ends -->
  <!-- Tabs Starts -->
  <div class="tabs-panel panel-smart">
    <!-- Nav Tabs Starts -->
    <ul *ngIf="product" class="nav nav-tabs">
      <li id="descriptionTab" class="active">
        <a (click)="showDescription()">Description</a>
      </li>
    </ul>
    <!-- Nav Tabs Ends -->
    <!-- Tab Content Starts -->
    <div *ngIf="product" class="tab-content clearfix">
      <!-- Description Starts -->
      <div *ngIf="product.Description" class="tab-pane active" id="descriptionContent">
        <p>
          {{product.Description}}
        </p>
      </div>
      <!-- Description Ends -->
    </div>
    <!-- Tab Content Ends -->
  </div>
  <!-- Tabs Ends -->
  <app-ut-recommended-products></app-ut-recommended-products>
</div>
<!-- Main Container Ends -->