<div class="row" style="margin-bottom: 20px;">
    <div class="container col-md-6">
      <img src="assets/images/book-author1.jpg" alt="Avatar" class="image" style="width:100%; border-radius: 5px;">
      <div class="middle" [routerLink]="['/experienced/results']" [queryParams]="{index: 1, size:10, c: 'Ken Follet'}">
        <div class="text">Mehr</div>
      </div>
    </div>
  
    <div class="container col-md-6">
      <img src="assets/images/book-author2.jpg" alt="Avatar" height="184px" width="569px" class="image" style="width:100%; border-radius: 5px;">
      <div class="middle" [routerLink]="['/experienced/results']" [queryParams]="{index: 1, size:10, c: 'Nicholas Sparks'}">
        <div class="text">Mehr</div>
      </div>
    </div>
  </div>