<button type="button" [class]="btnSize" class="btn btn-cart" (click)="onAddToCartClicked(template)">
  <i class="fa fa-shopping-cart"></i> Add to Cart
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Information</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Successfuly added product to cart. Do you want to continue shopping?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-cart" (click)="decline()">No</button>
  </div>
</ng-template>