<div class="modal-header">
  <h4 class="modal-title pull-left">Wichtig!</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseClicked()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Bist du sicher, dass du diesen Shop verlassen möchtest? Du kannst nicht zurück navigieren!</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="onCloseClicked()">Abbrechen</button>
  <button type="button" class="btn btn-default" (click)="onNextShopClicked()">Weiter</button>
</div>