<div *ngIf="!isSurveySubmitted" class="col-sm-8 col-sm-offset-2 survey-panel">
  <form [formGroup]="finalSurvey" (ngSubmit)="onSubmit()">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Abschließende Umfrage</h3>
        <p>Du hast es fast geschafft! Bitte beantworte zum Schluss noch folgende Fragen, um das Experiment
          abzuschließen.</p>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <p>1. Wie zufrieden warst du insgesamt mit der Shopping Experience im Online Shop für <b>Uhren</b>?
                  (1=überhaupt nicht, …, 7=äußerst zufrieden)</p>
                <div class="radio-group">
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionHedonic" [value]=1 required>1</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionHedonic" [value]=2 required>2</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionHedonic" [value]=3 required>3</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionHedonic" [value]=4 required>4</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionHedonic" [value]=5 required>5</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionHedonic" [value]=6 required>6</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionHedonic" [value]=7 required>7</label>
                </div>
                <p>2. Wie zufrieden warst du insgesamt mit der Shopping Experience im Online Shop für <b>Bücher</b>?
                  (1=überhaupt nicht, …, 7=äußerst zufrieden)</p>
                <div class="radio-group">
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionExperienced" [value]=1 required>1</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionExperienced" [value]=2 required>2</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionExperienced" [value]=3 required>3</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionExperienced" [value]=4 required>4</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionExperienced" [value]=5 required>5</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionExperienced" [value]=6 required>6</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionExperienced" [value]=7 required>7</label>
                </div>
                <p>3. Wie zufrieden warst du insgesamt mit der Shopping Experience im Online Shop für <b>Büromaterial</b>?
                  (1=überhaupt nicht, …, 7=äußerst zufrieden)</p>
                <div class="radio-group">
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionUtilitarian" [value]=1 required>1</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionUtilitarian" [value]=2 required>2</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionUtilitarian" [value]=3 required>3</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionUtilitarian" [value]=4 required>4</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionUtilitarian" [value]=5 required>5</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionUtilitarian" [value]=6 required>6</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionUtilitarian" [value]=7 required>7</label>
                </div>
                <p>4. Wie zufrieden warst du insgesamt mit der Shopping Experience im Online Shop für <b>Rucksäcke</b>?
                  (1=überhaupt nicht, …, 7=äußerst zufrieden)</p>
                <div class="radio-group">
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionCredence" [value]=1 required>1</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionCredence" [value]=2 required>2</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionCredence" [value]=3 required>3</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionCredence" [value]=4 required>4</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionCredence" [value]=5 required>5</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionCredence" [value]=6 required>6</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="satisfactionCredence" [value]=7 required>7</label>
                </div>
                <p>5. Wie wahrscheinlich wäre es, dass du den Online Shop für <b>Uhren</b> wieder besuchst? (1=sehr
                  unwahrscheinlich … 7=sehr wahrscheinlich)</p>
                <div class="radio-group">
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackHedonic" [value]=1 required>1</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackHedonic" [value]=2 required>2</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackHedonic" [value]=3 required>3</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackHedonic" [value]=4 required>4</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackHedonic" [value]=5 required>5</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackHedonic" [value]=6 required>6</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackHedonic" [value]=7 required>7</label>
                </div>
                <p>6. Wie wahrscheinlich wäre es, dass du den Online Shop für <b>Bücher</b> wieder besuchst? (1=sehr
                  unwahrscheinlich … 7=sehr wahrscheinlich)</p>
                <div class="radio-group">
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackExperienced" [value]=1 required>1</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackExperienced" [value]=2 required>2</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackExperienced" [value]=3 required>3</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackExperienced" [value]=4 required>4</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackExperienced" [value]=5 required>5</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackExperienced" [value]=6 required>6</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackExperienced" [value]=7 required>7</label>
                </div>
                <p>7. Wie wahrscheinlich wäre es, dass du den Online Shop für <b>Büromaterial</b> wieder besuchst?
                  (1=sehr
                  unwahrscheinlich … 7=sehr wahrscheinlich)</p>
                <div class="radio-group">
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackUtilitarian" [value]=1 required>1</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackUtilitarian" [value]=2 required>2</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackUtilitarian" [value]=3 required>3</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackUtilitarian" [value]=4 required>4</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackUtilitarian" [value]=5 required>5</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackUtilitarian" [value]=6 required>6</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackUtilitarian" [value]=7 required>7</label>
                </div>
                <p>8. Wie wahrscheinlich wäre es, dass du den Online Shop für <b>Rucksäcke</b> wieder besuchst? (1=sehr
                  unwahrscheinlich … 7=sehr wahrscheinlich)</p>
                <div class="radio-group">
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackCredence" [value]=1 required>1</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackCredence" [value]=2 required>2</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackCredence" [value]=3 required>3</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackCredence" [value]=4 required>4</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackCredence" [value]=5 required>5</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackCredence" [value]=6 required>6</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="comeBackCredence" [value]=7 required>7</label>
                </div>
                <p>9. Wie oft bestellst du online? (1=fast nie, 2=etwa alle zwei bis drei Monate, 3=etwa einmal im
                  Monat,
                  4=etwa zweimal pro Monat, 5=etwa einmal pro Woche, 6=mehrmals wöchentlich, 7=täglich)</p>
                <div class="radio-group">
                  <label class="radio-inline">
                    <input type="radio" formControlName="priorExp" [value]=1 required>1</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="priorExp" [value]=2 required>2</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="priorExp" [value]=3 required>3</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="priorExp" [value]=4 required>4</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="priorExp" [value]=5 required>5</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="priorExp" [value]=6 required>6</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="priorExp" [value]=7 required>7</label>
                </div>

                <p>10. Bist du weiblich oder männlich?</p>
                <div class="radio-group">
                  <label class="radio-inline">
                    <input type="radio" formControlName="gender" [value]=1 required>Männlich</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="gender" [value]=2 required>Weiblich</label>
                </div>

                <p>11. Wie Alt bist du (in Jahren)?</p>
                <div class="radio-group">
                  <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="age" required>
                      <option>18</option>
                      <option>19</option>
                      <option>20</option>
                      <option>21</option>
                      <option>22</option>
                      <option>23</option>
                      <option>24</option>
                      <option>25</option>
                      <option>26</option>
                      <option>27</option>
                      <option>28</option>
                      <option>29</option>
                      <option>30</option>
                      <option>31</option>
                      <option>32</option>
                      <option>33</option>
                      <option>34</option>
                      <option>35</option>
                      <option>36</option>
                      <option>37</option>
                      <option>38</option>
                      <option>39</option>
                      <option>40</option>
                      <option>41</option>
                      <option>42</option>
                      <option>43</option>
                      <option>44</option>
                      <option>45</option>
                      <option>46</option>
                      <option>47</option>
                      <option>48</option>
                      <option>49</option>
                      <option>50</option>
                      <option>51</option>
                      <option>52</option>
                      <option>53</option>
                      <option>54</option>
                      <option>55</option>
                      <option>56</option>
                      <option>57</option>
                      <option>58</option>
                      <option>59</option>
                      <option>60</option>
                      <option>61</option>
                      <option>62</option>
                      <option>63</option>
                      <option>64</option>
                      <option>65</option>
                      <option>66</option>
                      <option>67</option>
                      <option>68</option>
                      <option>69</option>
                      <option>70</option>
                      <option>71</option>
                      <option>72</option>
                      <option>73</option>
                      <option>74</option>
                      <option>75</option>
                      <option>76</option>
                      <option>77</option>
                      <option>78</option>
                      <option>79</option>
                      <option>80</option>
                    </select>
                  </div>
                </div>

                <p>12. Deine Email-Adresse (zur Benachrichtigung im Falle eines Gewinns. Diese Information wird
                  ansonsten nicht ausgewertet oder weitergegeben)?</p>
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="email" placeholder="Email">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!finalSurvey.valid">Abschicken</button>
        <p *ngIf="errorAlreadyAnswered" class="danger">Du hast die Umfrage bereits beantwortet!</p>
        <p *ngIf="errorUnexpected" class="danger">Ein Fehler ist aufgetreten. Bitte versuche es erneut!</p>
      </div>
    </div>
  </form>
</div>

<div *ngIf="isSurveySubmitted" class="col-sm-8 col-sm-offset-2 survey-panel">
  <div class="panel panel-default">
    <div class="panel-body success">
      <h3>Danke, dass du am Experiment teilgenommen hast!</h3>
      <h1><span role="button" class="emoji emoji1f609" data-c="😉">😉</span></h1>
      <h3 *ngIf="finalSurvey.value.email!=''">Falls du deinen Einkauf gewinnst, schicken wir eine Email an: <b>{{finalSurvey.value.email}}</b></h3>
    </div>
  </div>
</div>