<app-exp-image-slider></app-exp-image-slider>
<div>
  <h2 class="product-head text-uppercase">Top
    <strong>Products</strong>
    <div class="controls pull-right hidden-xs">
    </div>
  </h2>
  <div style="padding:0px 10px;">
    <app-exp-regular-products [category]="cat1"></app-exp-regular-products>
  </div>
  <div style="padding: 0px 10px;">
    <!--<app-hed-testimonials></app-hed-testimonials>-->
  </div>
  <h2 class="product-head text-uppercase">Recommended for
    <strong>You</strong>
    <div class="controls pull-right hidden-xs">
    </div>
  </h2>
  <div style="padding:0px 10px">
    <app-exp-regular-products [category]="cat1"></app-exp-regular-products>
  </div>
</div>