h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1em;
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

.controls>a{
    text-decoration: none;
}

.left{
    cursor: pointer;
}

.right{
    cursor: pointer;
}

.product-image{
    padding: 0 25%;
}

.caption{
    text-align: center;
}