<div *ngIf="loading" class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div *ngIf="!loading" class="row">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let product of products" style="margin: 0 10px;">
      <div class="product-col">
        <div class="image">
          <img src="{{product.MediumImageUrl}}" alt="product" class="img-responsive img-center-sm">
        </div>
        <div class="caption">
          <h4>
            <a routerLink="/experienced/detail/{{product.Id}}">{{product.Title}}</a>
          </h4>
          <div class="price">
            <span class="price-new">{{product.LowestNewPriceFormatted}}</span>
            <span class="price-old">{{product.ListPriceFormatted}}</span>
          </div>
          <div class="cart-button button-group">
            <div class="cart-button button-group">
              <app-exp-add-cart-button [product]="product" [btnSize]="'btn btn-cart full'"></app-exp-add-cart-button>
            </div>
          </div>
        </div>
      </div>



    </div>
  </ngx-slick>
</div>



<!-- Products Row Ends -->